html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --background: ghostwhite;
  --text-primary: #070700;
  --text-secondary: #212121;
  --accent: #AAAAAA;
  --border-color: rgba(7, 7, 0, 0.5);
  --link-active: blue;
}

[data-theme='dark'] {
  --background: #070700;
  --text-primary: ghostwhite;
  --text-secondary: #DADADA;
  --accent: #555555;
  --border-color: rgba(248, 248, 255, 0.5);
  --link-active: deepskyblue;
}
