.container{
    display: flex;
    background-color: var(--background);
    flex-direction: row;
    padding-left: 5vw;
    padding-right: 5vw;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    border-bottom: 1px solid var(--border-color)
}

.userIcon{
    font-size: 1.2rem;
    color: var(--text-primary)
}

.item{
    color: var(--link-color)
}

.userIcon:hover{
    transform: scale(1.2);
    transition: all .5s;
}

.item:hover{
    transform: scale(1.2);
    transition: all .5s;
}