.container {
  padding: 0 2rem;
  background-color: var(--background);
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.primaryText {
  color: var(--text-primary);
  font-weight: bold;
}